--only-binary :all:
alembic
aniso8601
attrs
bcrypt
blinker
certifi
charset-normalizer
click
colorama
cors
cryptography
email-validator
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Login
Flask-Migrate
flask-restx
Flask-SQLAlchemy
Flask-WTF
future
gevent
greenlet
gunicorn
idna
importlib_resources
itsdangerous
Jinja2
jsonschema
Mako
MarkupSafe
psycopg2-binary
PyJWT
python-decouple
pytz
requests
requests-file
sqlalchemy
tldextract
typing_extensions
urllib3
werkzeug
wtforms
zope.event
zope.interface
pymysql
cloudinary