.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
  max-width: 800px;
  margin-left: 220px;
}

.login-form {
   background-color: #ff033e; 
  padding: 40px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
  color: white; 
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  font-size: 0.9rem;
  color: white;
  margin-bottom: 5px;
  display: block;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.login-button {
  background-color: white;
  color: #ff033e; 
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
background-color:gray;
  color:  white; 
}

.extra-links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}


.extra-links a:hover {
  text-decoration: underline;
}
